.navbar {
    background-color: #263860;
    font-size: 20px;
    z-index: 99;
    width: 100%;
}

.jumbotron{
background-image: url(./multimedia/as_banner_531-90_deportes_futbol_boca_juniors.webp);
background-size: cover;
background-position: center;
color: white;
margin-bottom: 0px;
}

h2{
    text-align: center;
    background-color: #263860;
    padding: 10px;
    color: white;
    text-shadow: 0 0 5px #333;
    margin-bottom: 0px;
    text-decoration: underline;
}

.nosotros{
    background-color: #333;
    min-height: 400px;
    color: #fff;
}

.nleft{
    background-image: url(./multimedia/820x412edlp-ibarra-1_6b4ec.jpg);
    height: 500px;
    background-size: cover;
    background-position: center;
}

.nright{
    min-height: 200px;
    text-align: center;
}

.nright h3{
    color: #f6bb04;
    text-align: center;
    margin-top: 10px;
}

button{
    margin-bottom: 16px;
}

.noticias{
    height: auto;
    background-color: #333;
}

.item{
    color: white;
    text-align: center;
    margin-top: 10px;
}

.item img{
    border-radius: 50px;
    margin-bottom: 16px;
}

h4{
    margin-bottom: 16px;
    text-decoration: underline;
}

footer{
    background-color: #263860;
    color: #f6bb04;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    padding: 20px;
}

footer p::first-letter{
    font-size: 35px;
}

.redes i{
    font-size: 40px;
    letter-spacing: 40px;
    transition: all 0.7s;
}

.redes i:hover{
    color: #fff;
    cursor: pointer;
    transition: all 0.7s;
    transform: translateY(20px)
}